.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.image {
    position: relative;
    pointer-events: none;

    img {
        pointer-events: none;
        border-radius: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        transition: filter 0.3s ease;
    }

    .uploadIcon {
        position: absolute;
        height: 5rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &.showUpload {
        img {
            filter: brightness(50%);
        }

        .uploadIcon {
            opacity: 1;
        }
    }
}