.button , .secondaryButton, .smallButton, .xsButton, .buttonRed, .thirdButton {
    padding: 0 1.2rem;
    font-size: 1.2rem;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    color: var(--gray-100);
    background-color: var(--green-200);
    cursor: pointer;

    transition: background-color 0.2s ease;

    &:active {
        background-color: var(--green-100);
    }

    &:disabled {
        background-color: var(--gray-200);
        color: white;
        cursor: not-allowed;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.disabledButton {
    background-color: var(--gray-200);
    color: white;
    cursor: not-allowed;

    &:active {
        background-color: var(--gray-200);
    }
}

.buttonRed {
    background-color: var(--red-100);


    &:active {
        background-color: var(--red-200);
    }
}


.smallButton, .xsButton {
    font-size: 1rem;
    min-width: max-content;
    padding: 0 1rem;
    width: fit-content;
}

.xsButton {
    max-height: 36px;
    padding: 0 0.5rem;
}

.secondaryButton {
    background-color: transparent;
    color: var(--green-200);
    border: 0.125rem solid var(--green-200);
    width: 100%;

    &:active {
        color: var(--white);
    }
}