.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.textDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: fit-content;
    font-size: 1.4rem;
}

.text {
    color: var(--gray-300);
    font-size: 1.2rem;
}

.icon {
  color: var(--gray-200);
  width: 5rem;
}
