.stars {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--green-200);

    p {
        margin-left: 0.25rem;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

.starsInteractive {
    gap: 8px;
    cursor: pointer;
    svg {
        width: 2rem;
        height: 2rem;
    }
}