@import "tailwindcss";

:root {
  --gray-100: #ececec;
  --gray-200: #c6c6c6;
  --gray-300: #575757;

  --black: #191919;
  --white: hsl(0, 0%, 98%);

  --green-100: #60ca86;
  --green-200: #3a8756;
  --green-300: #1a3d27;

  --red-100: #bb5252;
  --red-200: #632c2c;
}

html {
  background-color: var(--gray-100);
}