@import "tailwindcss";

:root {
  --gray-100: #ececec;
  --gray-200: #c6c6c6;
  --gray-300: #575757;

  --black: #191919;
  --white: hsl(0, 0%, 98%);

  --green-50: #ddffea;
  --green-100: #60ca86;
  --green-200: #3a8756;
  --green-300: #1a3d27;

  --red-50: #fecaca;
  --red-100: #bb5252;
  --red-200: #632c2c;

  --blue-50: #ddeaff;
  --blue-100: #5277bb;

  --yellow-50: #fffadd;
  --yellow-100: #cbb771;

  --skeleton-bg: linear-gradient(
    100deg,
    var(--gray-200),
    var(--gray-200) 50%,
    var(--white) 60%,
    var(--gray-200) 70%
  );
}

html {
  background-color: var(--gray-100);
}

@media (min-width: 62.5rem) {
  body {
    display: flex;
  }
}