.home {
    padding: 2rem;
    padding-bottom: 7rem;
}

.recipes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search {
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
    border: 2px solid var(--gray-200);
    position: relative; 
    padding-left: 2rem;
    font-size: 1.2rem;
    width: 100%;
    max-width: 500px;
    input {
        width: 100%;
        padding: 0.25rem 0;
        padding-left: .25rem;
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.search::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('/search.svg') no-repeat center;
  background-size: contain;
}

.filters {
    display: flex;
    align-items: center;
    max-width: 500px;
    overflow-x: scroll;
    
    gap: 1rem;
    margin: 1rem 0;
    input {
        width: 110px;
    }
}


.select {
    padding: 0 0.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: 2px solid var(--green-200);
    color: var(--green-200);
    font-size: 1rem;
    font-weight: 500;
}

.option {
    font-weight: 500;
}