.page {
    width: 100%;
}

.image {
    display: none;
}

@media (min-width: 1000px) {
    .page {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .image {
        display: block;
        height: 100vh;
        width: 45vw;
        object-fit: cover;
    }
}

.main, .pageProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 15vh;
  @media (min-width: 1000px) {
      width: 55vw;
      margin-top: 0;
  }
}

.pageProfile {
  margin-top: 0;
  gap: 2rem;

}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h2 {
    font-size: 1.2rem;
  }
}

.title {
  font-size: 1.4rem;
  padding: 0;
  font-weight: 500;
}

.titleProfile {
  font-size: 1.4rem;
  padding: 0;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.progressSubtitle {
  color: var(--gray-300);
}

.progressBar {
  background-color: var(--gray-200);
  border-radius: 5rem;
  height: 4px;
  width: 100%;

  span {
    display: block;
    height: 4px;
    border-radius: 5rem;
    background-color: var(--green-200);
    transition: width 500ms ease;
  }
}

.pageStep, .pageStepProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.pageStepProfile {
  gap: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.subtitle {
    font-size: 1.2rem;
}

.list, .listAllergy {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem 2rem;
}

.buttons, .buttonsPref {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

@media (min-width: 1000px) {
  .buttonsPref {
    display: none;
  }
}

.message {
  color: var(--gray-300);
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.radio input + .radioLabel,
.checkbox input + .checkboxLabel {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}

.radio input + .radioLabel::before,
.checkbox input + .checkboxLabel::before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
  position: relative;
  bottom: -0.25rem;
  vertical-align: top;

  background: var(--white);
  border: 2px solid var(--gray-300);
  border-radius: 50%;
  transition: all 250ms ease;
}

.radio input:checked + .radioLabel::before,
.checkbox input:checked + .checkboxLabel::before {
  border-color: var(--green-300);
  background-color: var(--green-200);
}

.radio input:disabled + .radioLabel::before,
.checkbox input:disabled + .checkboxLabel::before {
  background-color: var(--gray-200);
  cursor: default;
}

.radio input:checked:disabled + .radioLabel::before,
.checkbox input:checked:disabled + .checkboxLabel::before {
  background-color: var(--green-200);
}

.radio input:disabled + .radioLabel,
.checkbox input:disabled + .checkboxLabel {
  cursor: default;
}

.checkbox input + .checkboxLabel::before {
  border-radius: 0.25rem;
}

.header {
  background-color: var(--white);
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  position: relative;
}

.buttonsHeader {
  display: none;
  @media (min-width: 1000px) {
    display: flex;
    gap: 1rem;
  }
}

.dietDesc {
  display: none;
}

.labelText p {
  display: none;
}

@media (min-width: 1000px) {

  .message {
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    bottom: 3rem;
  }

  .header {
    padding: 0 2rem;
  }

  .pageProfile {
    width: 100%;
    margin-left: 16rem;
    margin-bottom: 4rem;
  }

  .pageStepProfile {
    min-width: 37rem;
    .list {
      gap: 1rem;
    }
    
    .listAllergy {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  .dietDesc {
    display: block;
    font-size: 14px;
    color: var(--gray-300);
  }

  .radio input + .radioLabel::before,
  .checkbox input + .checkboxLabel::before {
    display: none;
  }

  .radio, .checkbox {
    border: 2px solid var(--gray-200);
    background-color: var(--white);
    border-radius: 0.5rem;
    min-width: 16rem;
    padding: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .checkbox {
    min-width: 10rem;
  }

  .radio:has(input:disabled),
  .checkbox:has(input:disabled) {
    cursor: default;
    background-color: var(--gray-100);
    transition: background-color 0.3s ease;
  }

  .radio:has(input:checked) {
    background-color: var(--green-50);
    transition: background-color 0.3s ease;
    border-color: var(--green-200);
    position: relative;

    &:after {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;

      position: absolute;
      right: 0.5rem;
      top: 0.5rem;

      background-image: url('/checkbox_checked.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .checkbox:has(input:checked) {
    background-color: var(--red-50);
    transition: background-color 0.3s ease;
    border-color: var(--red-100);
    position: relative;
  }

  .labelText p{
    display: block;
  }
}


.switchRowDiet,
.switchRowAllergy {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  min-width: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  :has(input:disabled) {
    cursor: default;
  }
}

.switchRowDiet {
  border: 2px solid var(--blue-100);
  background-color: var(--blue-50);
}

.switchRowAllergy {
  border: 2px solid var(--yellow-100);
  background-color: var(--yellow-50);
}

.labelText {
  font-size: 14px;
  line-height: 1.4;
  color: var(--gray-300);
  h2 {
    color: var(--black);
    font-size: 1rem;
  }
}

.switch {
  position: relative;
  width: 50px;
  height: 28px;
  flex-shrink: 0;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:disabled + .slider {
  background-color: var(--gray-300);
  opacity: 0.6;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: var(--gray-200);
  border-radius: 999px;
  transition: 0.3s;
  
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.switch input:checked + .slider {
  background-color: var(--green-200);
}

.switch input:checked + .slider:before {
  transform: translateX(22px);
}

@media (min-width: 1500px) {

  .header {
    padding: 0 4rem;
    position: absolute;
    top: 0;
    width: calc(100vw - 16rem);
  }

  .pageProfile {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
  }

  .pageStepProfile {
    min-height: 30rem;

    .switchRowAllergy, .switchRowDiet {
      margin-top: auto;
    }
  }
}