.page, .pageProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 15vh;
}

.pageProfile {
  margin-top: 2rem;
  gap: 2rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h2 {
    font-size: 1.2rem;
  }
}

.title {
  font-size: 1.4rem;
  padding: 0;
  font-weight: 500;
}

.titleProfile {
  font-size: 1.4rem;
  padding: 0;
  font-weight: 500;
}

.progress {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.progressSubtitle {
  color: var(--gray-300);
}

.progressBar {
  background-color: var(--gray-200);
  border-radius: 5rem;
  height: 4px;
  width: 100%;

  span {
    display: block;
    height: 4px;
    border-radius: 5rem;
    background-color: var(--green-200);
    transition: width 500ms ease;
  }
}

.pageStep, .pageStepProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.pageStepProfile {
  gap: 1rem;
}

.subtitle {
    font-size: 1.2rem;
}

.list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.message {
  color: var(--gray-300);
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.radio input + .radioLabel,
.checkbox input + .checkboxLabel {
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
}

.radio input + .radioLabel::before,
.checkbox input + .checkboxLabel::before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
  position: relative;
  bottom: -0.25rem;
  vertical-align: top;

  background: var(--white);
  border: 2px solid var(--gray-300);
  border-radius: 50%;
  transition: all 250ms ease;
}

.radio input:checked + .radioLabel::before,
.checkbox input:checked + .checkboxLabel::before {
  border-color: var(--green-300);
  background-color: var(--green-200);
}

.radio input:disabled + .radioLabel::before,
.checkbox input:disabled + .checkboxLabel::before {
  background-color: var(--gray-200);
  cursor: default;
}

.radio input:checked:disabled + .radioLabel::before,
.checkbox input:checked:disabled + .checkboxLabel::before {
  background-color: var(--green-200);
}

.radio input:disabled + .radioLabel,
.checkbox input:disabled + .checkboxLabel {
  cursor: default;
}

.checkbox input + .checkboxLabel::before {
  border-radius: 0.25rem;
}